.review-item {
  &.divider {
    border-top: 8px solid #f9f9fa;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .item__review {
    .review__image {
      height: calc(100vw - 50px);
    }

    .review__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      padding-left: 20px;
      padding-right: 20px;

      &__icons {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 14px;
          display: flex;
          align-items: center;

          span {
            display: inline-block;

            &.icon__image {
              transform: scale(1.2);
              margin-right: 7px;
            }

            &.icon__count {
              font-size: 13px;
              font-weight: 600;
            }
          }
        }
      }
    }

    .review__text {
      margin-left: 20px;
      margin-right: 20px;
      font-size: 13px;

      line-height: 1.4;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      .text__author {
        margin-right: 5px;
        font-weight: 600;
      }
    }
  }

  .item__deal {
    margin: 20px 20px 0 20px;
    padding: 10px 20px;
    height: 70px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;

    .deal__image {
      width: 50px;
      height: 50px;
      background: center no-repeat;
      background-size: cover;
      margin-right: 20px;
    }

    .deal__info {
      font-size: 12px;
      width: calc(100% - 70px);

      &__title {
        font-weight: 600;
        margin-bottom: 8px;
      }

      &__text {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
