.ReviewWriteHashtagModalWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(17, 17, 17, 0.7);
}

.Container {
  font-family: Roboto;
  color: #111;
  padding-top: 10px;
  position: relative;
  top: 15%;
  width: 100vw;
  height: 85.9375%;
  background-color: white;
}

.Header {
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

.HeaderFlagSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19%;
  height: 100%;

  > span:last-child {
    font-weight: bold;
    margin-left: 15px;
  }
}

.HeaderInputSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 100%;

  > div:first-child {
    flex-grow: 1;
  }

  & .text-delete {
    padding: 0 20px;
  }
}

.HeaderInput {
  font-size: 15px;
  font-weight: 500;
  width: 100%;

  ::placeholder {
    color: #dddddd;
  }
}

.Contents {
  padding: 30px 20px;
}

.ContentAutoCompleteSection {
  padding: 15px 20px;
  font-size: 14px;
  color: #111111;
  line-height: 1.11;
}

.ContentsInputTagSection {
  display: flex;
  flex-flow: row wrap;
}
