.deal-item {
  display: inline-block;
  width: 50%;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 40px;

  &__image {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 11px;

    &.image--soldout::before {
      content: 'SOLDOUT';
      position: absolute;
      z-index: 1;
      bottom: 7px;
      left: 7px;
      width: 55px;
      height: 15px;
      background-color: #cccccc;
      color: #ffffff;
      font-size: 10px;
      font-weight: 100;
      font-style: normal;
      line-height: 1;
      letter-spacing: 0.3px;
      text-align: center;
      padding-top: 5px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__description {
    padding-left: 8px;
    padding-right: 8px;

    .description__brand {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5;
      color: #999999;
      font-size: 12px;
      margin-bottom: 5px;
    }

    .description__name {
      display: block;
      width: 100%;
      height: 34px;
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 17px;
      overflow: hidden;
      white-space: normal;
    }

    .description__price {
      margin-bottom: 11px;
      display: flex;
      align-items: center;

      .price--discount-price {
        font-size: 13px;
        font-weight: 500;
      }
      .price--sell-price {
        font-size: 11px;
        color: #999999;
        text-decoration: line-through;
        margin-left: 7px;
      }
      .price--discount-rate {
        font-size: 13px;
        font-weight: 500;
        color: #5d2ed1;
        margin-left: auto;
      }

      @media screen and (max-width: 355px) {
        .price--discount-price {
          font-size: 11px;
        }
        .price--sell-price {
          font-size: 10px;
        }
        .price--discount-rate {
          font-size: 11px;
        }
      }
    }

    .description__seller {
      font-size: 10px;
      color: #444444;
    }

    .description__tags {
      height: 0;
      padding-bottom: 15%;

      .tag {
        border: 1px solid #eeeeee;
        color: #777777;
        font-size: 10px;
        margin-right: 4px;
        padding: 3px 5px;
      }
      .tag:last-child {
        margin-right: 0;
      }
    }
  }

  &.deal-item--horizontal {
    width: 45%;
    padding-left: 10px;
    padding-right: 0;

    .deal-item__description {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  &.deal-item--double {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    margin-bottom: 15px;

    .deal-item__image {
      width: 130px;
      height: 130px;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .deal-item__description {
      width: calc(100% - 130px);
      height: 130px;
      padding: 10px 0 10px 20px;

      .description__price {
        .price--discount-rate {
          margin-left: 10px;
        }
      }
    }
  }

  &.deal-item--hex {
    width: 33.333333%;
    margin-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;

    .deal-item__image {
      margin-bottom: 4px;
    }

    .description__brand {
      margin-bottom: 0;
    }

    .description__name {
      text-overflow: ellipsis;
      margin-bottom: 4px;
    }

    .description__price {
      .price--sell-price {
        visibility: hidden;
      }
      .price--discount-rate {
        visibility: hidden;
      }
    }
  }
}
