.review-detail {
  .detail__user-info {
  }

  .detail__tags {
  }

  .detail__text {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 13px;

    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .detail__date {
  }
}
