.special-filter {
  z-index: 2;
  position: sticky;
  top: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 52px;
  background-color: #fff;

  .special-filter__tags {
    padding-left: 15px;
    padding-right: 15px;
    height: 33px;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }

    .tag {
      -webkit-tap-highlight-color: transparent;
      display: inline-block;
      font-size: 13px;
      font-weight: 400;
      color: #111;
      cursor: pointer;
      padding: 8px 12px;
      height: 32px;
      margin-left: 4px;
      margin-right: 4px;
      border: 1px solid #ddd;
      border-radius: 15px;

      &.selected {
        border: unset;
        color: #fff;
        background-color: #5d2ed1;
      }
    }

    .tab-arrow {
      position: absolute;
      padding-right: 10px;

      &.arrow--left {
        top: 4px;
        left: 0;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      &.arrow--right {
        top: 4px;
        right: 0px;
      }
    }
  }
}
