// font
@import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

// libraries
@import 'js/react-summernote/react-summernote.scss';

// global styles
@import 'styles/var';
@import 'styles/global.scss';
@import 'styles/grid.scss';
@import 'styles/normalize.scss';

// sprites
@import 'styles/sprites/icon.scss';
@import 'styles/sprites/social-icon.scss';
@import 'styles/sprites/misc.scss';
@import 'styles/sprites/special.scss';
@import 'styles/sprites/placeholder.scss';
