.Wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.EmojiSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0 20px 0;
}

.InputSection {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 5px 20px 5px;
}

.Avatar {
  width: 30px;
  margin-right: 10px;
}

.Form {
  border: 1px solid #eeeeee;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  padding: 12px 15px 11px 15px;
}

.InputWrapper {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.29;
  display: flex;
  align-items: center;
  width: 100%;
}

.TextDiv {
  display: flex;
  align-items: center;
  width: calc(100% - 15% - 15px);
}

.SubmitDiv {
  display: flex;
  justify-content: center;
  width: 15%;
  margin-left: 15px;
}

// textarea
.Text {
  border: none;
  resize: none;
  width: 100%;
  height: 17px;
}

// button
.Submit {
  color: #5d2ed1;
  font-weight: bold;
  height: 17px;
}
