.keyword-section {
  margin-top: 10px;
  margin-bottom: 10px;

  .no-items {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 15px;
    }
  }
}
