.deal-section {
  .section__filters {
    &.sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 60px;
      width: 100%;
      z-index: 2;
    }
    min-height: 45px;
    padding-bottom: 45px;
  }
}
