@import 'styles/var';
@import 'styles/mixins/index';

.wrap {
  min-height: 36px;
  padding: 8px 0 9px;
  font-size: 13px;
  font-weight: 400;
  color: #444444;
  text-align: left;

  &.hasBorder {
    height: 45px;
    border-bottom: 1px solid #eeeeee;
    background-color: #f9f9fa;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
  }

  &.disabled {
    background-color: #f9f9fa;
    color: #777777;
  }
}
