.review__hashtags {
  margin-top: 30px;

  .hashtags__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hashtags__items {
    padding-left: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      background-color: #eee;
      color: rgb(119, 119, 119);
      border-radius: 4px;
      font-size: 13px;
      height: 30px;
      margin-right: 7px;
      margin-bottom: 7px;
      padding: 7px 10px;
      border: 1px solid #eee;

      &.selected {
        border: 1px solid #111;
        color: #111;
      }
    }
  }
}
