.wrapper {
  background-color: #232323;
  font-family: 'Roboto';
  width: 150px;
  height: 205px;
  text-align: center;
  margin-right: 8px;

  .image-section {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;

    .image {
      width: 102.6px;
      height: 102.6px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .image-section-cover {
      background-color: #222222;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      opacity: 0.4;
    }

    .winner-date {
      color: #ffffff;
      font-size: 14px;
      line-height: 1.14;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      p {
        margin: 0;
      }
    }
  }

  .winer-submit {
    color: #eeeeee;
    font-size: 12px;
    width: 86px;
    height: 35px;
    border: 1px solid #444444;
  }
}
