.Wrapper {
  font-family: Roboto;
  height: 70px;
  margin: 15px 20px 0 20px;
  border: 1px solid #eeeeee;
  line-height: 1.38;
  display: flex;
  align-items: center;
}

.ImageSection {
  width: 90px;
  padding: 10px 20px;
}

.ContentSection {
  width: 228px;
  height: 35px;
  font-size: 12px;
  overflow: hidden;

  > div {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.Title {
  font-weight: bold;
  padding-bottom: 5px;
}

.Contents {
  font-weight: 400;
}
