.special-detail-header {
  margin-bottom: 30px;

  .header__info {
    padding: 30px 20px 40px;
    display: flex;

    .info-wrap {
      width: calc(100% - 65px);
      margin-right: 20px;

      .header__info__title {
        color: #111;
        font-size: 18px;
        line-height: 25px;
        word-break: keep-all;
        margin-bottom: 8px;
      }

      .header__info__date {
        color: #777;
        font-size: 12px;
        line-height: 19px;
      }
    }

    &__copy {
      width: 41px;
      height: 41px;
      border-radius: 50%;
      border: solid 1px #eeeeee;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .header__image {
    width: 100%;
    min-height: 70vh;

    & img {
      width: 100%;
      height: auto;
    }
  }
}
