.Menus {
  display: flex;
  height: 50px;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  > button:first-child {
    border-right: 1px solid #eeeeee;
  }
}

.MenuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  // color: ${(props) => (props.active ? '#111111' : '#aaaaaa')};
  width: 50%;
}

.Contents {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.ContentItem {
  width: 33%;
  height: 119px;
  // border-right: ${(props) => props.index % 3 !== 0 && '1.5px solid white'};
  border-bottom: 1.5px solid white;
}
