.modal-portal {
  z-index: 222;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &.min-height {
    height: unset;
  }

  .shade {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, 0.5);

    div {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }

  .modal {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;

    &.transparent {
      background-color: unset;
    }

    &.gutter {
      top: 60px;
      height: calc(100% - 60px);
    }

    &.center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &.slideLeft {
      -webkit-animation: slideLeft 0.1 linear;
      animation: slideLeft 0.1s linear;
    }
    &.slideRight {
      -webkit-animation: slideRight 0.1 linear;
      animation: slideRight 0.1s linear;
    }
    &.slideUp {
      animation: slideUp 0.1s linear;
    }
  }
}

@keyframes slideLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-50%);
    transfrom: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transfrom: translateX(0);
  }
}
@keyframes slideRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  50% {
    -webkit-transform: translateX(50%);
    transfrom: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    transfrom: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  50% {
    -webkit-transform: translateY(50%);
    transfrom: translateY(50%);
  }
  100% {
    -webkit-transform: translateY(0);
    transfrom: translateY(0);
  }
}
