.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  height: 56px;

  > div {
    width: 50%;
  }
}

.LikeAndCommentSection {
  display: flex;
  font-size: 12px;
  font-weight: 600;
}

.LikeSection {
  display: flex;
  align-items: center;
  margin-right: 7px;
}

.CommentSection {
  display: flex;
  align-items: center;
  margin: 0 7px;
}

.StarSection {
  display: flex;
  justify-content: flex-end;
}

.Counter {
  margin-left: 7px;
}
