.wrapper {
  height: 315px;
  margin-top: 40px;
  position: relative;

  .section-image {
    width: 260px;
    height: 260px;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .section-bg {
    height: 170px;
    background-color: #f8f8f8;
    position: relative;
    top: 145px;
  }
}
