.keyword-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;

  .item__name {
    color: #444;
    font-size: 14px;
    background: url('/static/icon/icon_history.png') no-repeat left;
    background-size: 20px;
    padding-left: 28px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 15px;
    width: 100%;
  }

  .item__delete {
    font-size: 13px;
    color: #999;
    background: url('/static/icon/icon_delete.png') no-repeat right;
    background-size: 18px;
    padding-right: 26px;
  }
}
