.filter-option {
  &.float {
    width: 100%;
    background-color: #fff;
    position: absolute;
  }

  &.hide {
    visibility: hidden;
  }

  &.sticky {
    position: sticky;
    top: 112px;
    background-color: #fff;
    z-index: 1;

    &.scroll-down {
      transform: translateY(-60px);
    }
  }

  &__buttons {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 45px;
    font-size: 13px;

    .filter-button {
      display: flex;
      align-items: center;

      .filter-button--margin {
        margin-left: 5px;
      }
    }
  }
}
