.tab {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    &::placeholder {
      font-size: 14px;
    }
  }

  .tab__buttons {
    display: flex;
    align-items: center;

    .button {
      margin-right: 5px;
      cursor: pointer;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
