.Wrapper {
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.38;
  margin: 0 20px;
  height: 36px;
  overflow: hidden;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  > span {
    margin-right: 5px;
  }
  &.more {
    color: #999999;
  }
}

.Title {
  font-weight: bold;
}

.Contents {
  font-weight: 400;
}
