.ContentSection {
  padding: 0 20px;
}

.Contents {
  color: #111111;
  font-family: Roboto;
  font-size: 13px;
  line-height: 1.38;
  margin-top: 15px;
  white-space: pre-wrap;
}

.ContentDate {
  color: #aaaaaa;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.4;
  margin-top: 10px;
}

.HashTagSection {
  display: flex;
  flex-flow: row wrap;
  margin-top: 25px;
  margin-bottom: 15px;
}

.CommentListSection {
  padding: 35px 20px 30px 20px;
}

.CommentWriteSection {
  padding: 16px 15px 20px 15px;
}

.RecommendHeader {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 20px;
}

.Divider {
  border-top: 1px solid #eeeeee;
}

.BigDivider {
  height: 8px;
  margin: 10px 0 30px;
  background-color: #f9f9fa;
}
