.wrapper {
  height: 246px;
  display: flex;
  justify-content: center;
  align-items: center;

  .section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    .title {
      color: #232323;
      font-family: BebasNeue-Bold;
      font-size: 38px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .contents {
      font-family: Roboto;
      font-size: 12px;
      color: #222222;

      > p:first-child {
        margin-bottom: 5px;
      }
    }
  }
}
