.wrap {
  display: inline-block;
  margin-right: 20px;

  label {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    float: left;
    color: #777777;

    span {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #dddddd;
      margin-right: 7px;
    }
  }
}
