.image-wrapper {
  padding-left: 5px;
  padding-right: 5px;

  .image {
    width: calc(100vw - 50px);
    height: calc((7 / 18) * (100vw - 50px));
    border-radius: 4px;
    background: center no-repeat;
    background-size: cover;
  }
}

.ad-banner__slick-dots {
  position: absolute;
  bottom: 5px;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;

  & li {
    position: relative;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
    cursor: pointer;

    & button {
      border: 0;
      background: transparent;
      display: block;
      height: 5px;
      width: 5px;
      border-radius: 50%;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        opacity: 0.4;
        background-color: #fff;
      }
    }

    &[class='slick-active'] {
      & button {
        &::before {
          color: #fff;
          opacity: 1;
        }
      }
    }
  }
}
