.modal__section {
  .section__header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;

    .header__delete {
      width: 80px;
      height: 30px;
      font-weight: 300;
      border: 1px solid #eee;
    }
  }

  .section__items {
    height: calc(100vh - 105px);
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
  }
}
