.review__categories {
  height: 161px;
  padding-bottom: 30px;
  border-bottom: 8px solid #f9f9fa;
  margin-top: 30px;
  margin-bottom: 30px;

  .categories__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .categories__items {
    overflow-x: scroll;
    padding-left: 12px;
    padding-right: 12px;
    height: 86px;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      -webkit-tap-highlight-color: transparent;
      display: inline-block;
      width: 55px;
      height: 85px;
      margin-left: 7px;
      margin-right: 7px;

      button {
        border-radius: 50%;
        background-color: #eee;
        width: 55px;
        height: 55px;
        border: 1px solid #eee;

        &.selected {
          border-color: #111;
        }
        margin-bottom: 15px;
      }

      div {
        font-size: 12px;
        color: #777;
        text-align: center;
      }
    }
  }
}
