.review__categories {
  height: 123px;
  margin-top: 30px;
  margin-bottom: 30px;

  .categories__header {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .categories__items {
    display: flex;
    overflow-x: scroll;
    padding-left: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .item {
      width: 55px;
      height: 85px;
      margin-right: 15px;

      button {
        border-radius: 50%;
        background-color: #eee;
        width: 55px;
        height: 55px;
        border: 1px solid #eee;

        &.selected {
          border-color: #111;
        }
        margin-bottom: 15px;
      }

      div {
        font-size: 12px;
        color: #777;
        text-align: center;
      }
    }
  }
}
