.deal-item-section {
  margin-bottom: 20px;

  &__name {
    line-height: 22px;
    text-align: center;
    font-family: 'NanumSquare';
    font-size: 20px;
    font-weight: 600;
    color: #111;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }

  &__items {
    &.items--horizontal {
      width: auto;
      overflow-x: auto;
      white-space: nowrap;
      padding-left: 10px;
      padding-right: 20px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
