.wrapper {
  position: relative;
  height: 435px;
  background-color: #232323;
  text-align: center;
}

.title {
  color: #fff;
  font-family: BebasNeue-Bold;
  font-size: 38px;
  line-height: 1.11;
  padding-top: 50px;
  padding-bottom: 40px;
}

.sliderSection {
  height: 268px;
  margin-bottom: 70px;
}
