.detail-comment {
  &__emojis {
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    justify-content: space-between;

    span {
      width: 100%;
      font-size: 17px;
      text-align: center;
    }
  }

  &__comment {
    margin-left: 17px;
    margin-right: 17px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    min-height: 35px;

    .comment__avatar {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      background: url('/public/icon/profile_non_square.png') center no-repeat;
      background-size: cover;
      margin-right: 5px;
    }

    .comment__form {
      border: 1px solid #eee;
      border-radius: 20px;
      padding: 7px 15px;
      font-size: 12px;
      width: calc(100% - 35px);

      .form__wrap {
        position: absolute;
        visibility: hidden;
      }

      .form__textarea {
        width: calc(100% - 40px);
        overflow: hidden;
        border: none;
        resize: none;
        line-height: 1.5;
        min-height: 18px;
      }

      .form__submit {
        float: right;
        padding-top: 2px;
        padding-left: 10px;
        width: 40px;
        color: #5d2ed1;
      }
    }
  }
}
