
.Wrapper {
  background-color: #f9f9fa;
  border-radius: 4px;
  color: #777;
  padding: 7px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  line-height: 1.29;
  height: 30px;
  margin-top: 7px;
  margin-right: 7px;
}