.ReviewCategoryWrapper {
  font-family: Roboto;
  font-weight: 500;
  margin: 30px 20px;
  height: 100%;
}

.Title {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 20px;
  margin-bottom: 15px;
}

.Contents {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  margin-bottom: 30px;

  &::-webkit-scrollbar {
    display: none;
  }
}

.ContentItem {
  width: 55px;
  margin-right: 15px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.CategoryImage {
  margin-bottom: 15px;
}

.CategoryText {
  font-size: 12px;
  line-height: 1.6;
  &.active {
    color: #444;
  }
  &.inActive {
    color: #777;
  }
}
