.wrapper {
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
}

.section-contents {
  position: relative;
}

.close-button {
  width: 20px;
  height: 20px;
  background-size: contain;
  position: absolute;
  top: 20px;
  right: 20px;
}

.section-info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-status {
  height: 130px;
  position: relative;
}

.section-status-icon-seciton {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.seciton-status-icon {
  width: 70px;
  height: 70px;
  background-size: contain;
}

.section-title {
  display: flex;
  justify-content: center;
  font-size: 27px;
  font-weight: bold;
  height: 40px;
  line-height: 0.74;
}

.section-descriptions {
  font-size: 12px;
  line-height: 1.67;
}

.section-button {
  height: 63px;
  padding: 19px;
  color: #fff;
  cursor: pointer;
}
