.plugin-buttons {
  position: fixed;
  width: 41px;
  right: 15px;
  bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;

  .button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    margin-top: 7px;
    border-radius: 50%;

    &:first-child {
      margin-top: 0;
    }

    &.button--recently {
      opacity: 90%;
      background-color: #111;
      position: relative;

      .recently__count {
        position: absolute;
        top: 0;
        right: -5px;
        font-size: 7px;
        text-align: center;
        line-height: 16px;
        color: #fff;
        width: 17px;
        height: 17px;
        background-color: #5d2ed1;
        border-radius: 50%;
      }
    }
  }
}
