.modal__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-left: 20px;
  padding-right: 20px;

  .header__close {
    position: absolute;
    left: 10px;
  }

  .header__title {
    font-size: 17px;
    font-weight: 500;
  }
}

.modal__section {
  overflow-y: scroll;
}
