.modal__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-left: 20px;
  padding-right: 20px;

  .header__close {
    position: absolute;
    right: 10px;
  }

  .header__title {
    font-size: 17px;
    font-weight: 500;
  }
}

.modal__section {
  overflow-x: hidden;
  height: calc(100% - 60px);

  .section__review {
    margin-bottom: 30px;

    .review__empty {
      display: flex;
      align-items: center;
      height: 100vw;
    }

    .review__ad-banner {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }

  .section__recommend {
    border-top: 8px solid #f9f9fa;
    padding-top: 30px;
  }
}
