.misc {
  background: url('/static/sprites/misc.png') no-repeat top left;
  background-size: 158px 135px;

  &.check--large {
    background-position: 0 0;
    width: 32px;
    height: 32px;
  }
  &.thumbnail-double {
    background-position: -32px 0;
    width: 31px;
    height: 31px;
  }
  &.thumbnail-double--on {
    background-position: 0 -32px;
    width: 31px;
    height: 31px;
  }
  &.thumbnail-hex {
    background-position: -31px -32px;
    width: 31px;
    height: 31px;
  }
  &.thumbnail-hex--on {
    background-position: -63px 0;
    width: 31px;
    height: 31px;
  }
  &.thumbnail-quad {
    background-position: -63px -31px;
    width: 31px;
    height: 31px;
  }
  &.thumbnail-quad--on {
    background-position: 0 -63px;
    width: 31px;
    height: 31px;
  }
  &.check {
    background-position: -31px -63px;
    width: 24px;
    height: 24px;
  }
  &.keyword-delete {
    background-position: -55px -63px;
    width: 24px;
    height: 24px;
  }
  &.reset--black {
    background-position: -95px 0;
    width: 26px;
    height: 22px;
  }
  &.down {
    background-position: -95px -22px;
    width: 23px;
    height: 23px;
  }
  &.menu-arrow {
    background-position: -95px -45px;
    width: 23px;
    height: 23px;
  }
  &.menu-minus {
    background-position: -95px -69px;
    width: 23px;
    height: 23px;
  }
  &.menu-plus {
    background-position: 0 -95px;
    width: 23px;
    height: 23px;
  }
  &.arrow-diagonal {
    background-position: -23px -95px;
    width: 22px;
    height: 22px;
  }
  &.arrow-down {
    background-position: -45px -95px;
    width: 22px;
    height: 22px;
  }
  &.arrow-up {
    background-position: -67px -95px;
    width: 22px;
    height: 22px;
  }
  &.minus {
    background-position: -89px -95px;
    width: 22px;
    height: 22px;
  }
  &.check--black {
    background-position: -121px 0;
    width: 20px;
    height: 20px;
  }
  &.check--on {
    background-position: -121px -20px;
    width: 20px;
    height: 20px;
  }
  &.delete {
    background-position: -121px -40px;
    width: 19px;
    height: 19px;
  }
  &.delete--on {
    background-position: -121px -59px;
    width: 19px;
    height: 19px;
  }
  &.filter {
    background-position: -121px -79px;
    width: 20px;
    height: 18px;
  }
  &.comment {
    background-position: -121px -97px;
    width: 19px;
    height: 19px;
  }
  &.like {
    background-position: 0 -118px;
    width: 19px;
    height: 17px;
  }
  &.like--on {
    background-position: -19px -118px;
    width: 19px;
    height: 17px;
  }
  &.star {
    background-position: -141px 0;
    width: 17px;
    height: 18px;
  }
  &.star-grey {
    background-position: -141px -18px;
    width: 17px;
    height: 18px;
  }
  &.star-grey--half {
    background-position: -141px -36px;
    width: 10px;
    height: 18px;
  }
  &.star--half {
    background-position: -141px -54px;
    width: 10px;
    height: 18px;
  }
}
