.social-icon {
  background: url('/static/sprites/social-icon.png') no-repeat top left;
  background-size: 164px 162px;

  &.login-facebook {
    background-position: 0 0;
    width: 54px;
    height: 54px;
  }
  &.login-google {
    background-position: -54px 0;
    width: 54px;
    height: 54px;
  }
  &.login-kakao {
    background-position: 0 -54px;
    width: 54px;
    height: 54px;
  }
  &.login-naver {
    background-position: -54px -54px;
    width: 54px;
    height: 54px;
  }
  &.auth-facebook {
    background-position: -108px 0;
    width: 28px;
    height: 28px;
  }
  &.auth-facebook--off {
    background-position: -108px -28px;
    width: 28px;
    height: 28px;
  }
  &.auth-google {
    background-position: -108px -56px;
    width: 28px;
    height: 28px;
  }
  &.auth-google--off {
    background-position: 0 -108px;
    width: 28px;
    height: 28px;
  }
  &.auth-kakao {
    background-position: -28px -108px;
    width: 28px;
    height: 28px;
  }
  &.auth-kakao--off {
    background-position: -56px -108px;
    width: 28px;
    height: 28px;
  }
  &.auth-naver {
    background-position: -84px -108px;
    width: 28px;
    height: 28px;
  }
  &.auth-naver--off {
    background-position: -136px 0;
    width: 28px;
    height: 28px;
  }
  &.sns-youtube {
    background-position: -136px -28px;
    width: 27px;
    height: 26px;
  }
  &.sns-blog {
    background-position: -136px -54px;
    width: 26px;
    height: 26px;
  }
  &.sns-facebook {
    background-position: -136px -80px;
    width: 26px;
    height: 26px;
  }
  &.sns-insta {
    background-position: -136px -106px;
    width: 26px;
    height: 26px;
  }
  &.sns-post {
    background-position: 0 -136px;
    width: 26px;
    height: 26px;
  }
}
