.luckyDrawTopBannerSection {
  background-image: url('/public/images/luckydraw/luckydraw_top@3x.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
}
