.Wrapper {
  font-family: Roboto;
}

.Title {
  font-size: 15px;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 20px;
  &::before {
    content: '댓글 ';
  }
}

.Contents {
  > div {
    margin-bottom: 16px;
  }

  > div:last-child {
    margin-bottom: 0;
  }
}

.ContentItem {
  display: flex;
  flex-flow: row wrap;
}

.Avatar {
  width: 30px;
  margin-right: 10px;
}

.Comment {
  font-family: Roboto;
  width: calc(100% - 40px);
}

.CommentName {
  font-size: 13px;
  font-weight: bolder;
  line-height: 1.29;
  margin-bottom: 5px;
}

.CommentContents {
  font-size: 13px;
  margin-bottom: 6px;
}

.CommentInfo {
  color: #999999;
  font-size: 12px;
  > span::before {
    content: ' ㆍ ';
  }
  > span:first-child::before {
    content: '';
  }
}
