// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$close-btn-small-2x-name: 'close_btn_small_2x';
$close-btn-small-2x-x: 442px;
$close-btn-small-2x-y: 400px;
$close-btn-small-2x-offset-x: -442px;
$close-btn-small-2x-offset-y: -400px;
$close-btn-small-2x-width: 60px;
$close-btn-small-2x-height: 60px;
$close-btn-small-2x-total-width: 624px;
$close-btn-small-2x-total-height: 544px;
$close-btn-small-2x-image: '/static/sprite.png';
$close-btn-small-2x: (442px, 400px, -442px, -400px, 60px, 60px, 624px, 544px, '/static/sprite.png', 'close_btn_small_2x', );
$close-btn-small-3x-name: 'close_btn_small_3x';
$close-btn-small-3x-x: 192px;
$close-btn-small-3x-y: 400px;
$close-btn-small-3x-offset-x: -192px;
$close-btn-small-3x-offset-y: -400px;
$close-btn-small-3x-width: 90px;
$close-btn-small-3x-height: 90px;
$close-btn-small-3x-total-width: 624px;
$close-btn-small-3x-total-height: 544px;
$close-btn-small-3x-image: '/static/sprite.png';
$close-btn-small-3x: (192px, 400px, -192px, -400px, 90px, 90px, 624px, 544px, '/static/sprite.png', 'close_btn_small_3x', );
$close-btn-small-name: 'close_btn_small';
$close-btn-small-x: 580px;
$close-btn-small-y: 288px;
$close-btn-small-offset-x: -580px;
$close-btn-small-offset-y: -288px;
$close-btn-small-width: 30px;
$close-btn-small-height: 30px;
$close-btn-small-total-width: 624px;
$close-btn-small-total-height: 544px;
$close-btn-small-image: '/static/sprite.png';
$close-btn-small: (580px, 288px, -580px, -288px, 30px, 30px, 624px, 544px, '/static/sprite.png', 'close_btn_small', );
$close-btn-2x-name: 'close_btn_2x';
$close-btn-2x-x: 480px;
$close-btn-2x-y: 288px;
$close-btn-2x-offset-x: -480px;
$close-btn-2x-offset-y: -288px;
$close-btn-2x-width: 100px;
$close-btn-2x-height: 100px;
$close-btn-2x-total-width: 624px;
$close-btn-2x-total-height: 544px;
$close-btn-2x-image: '/static/sprite.png';
$close-btn-2x: (480px, 288px, -480px, -288px, 100px, 100px, 624px, 544px, '/static/sprite.png', 'close_btn_2x', );
$close-btn-3x-name: 'close_btn_3x';
$close-btn-3x-x: 320px;
$close-btn-3x-y: 240px;
$close-btn-3x-offset-x: -320px;
$close-btn-3x-offset-y: -240px;
$close-btn-3x-width: 150px;
$close-btn-3x-height: 150px;
$close-btn-3x-total-width: 624px;
$close-btn-3x-total-height: 544px;
$close-btn-3x-image: '/static/sprite.png';
$close-btn-3x: (320px, 240px, -320px, -240px, 150px, 150px, 624px, 544px, '/static/sprite.png', 'close_btn_3x', );
$close-btn-name: 'close_btn';
$close-btn-x: 502px;
$close-btn-y: 400px;
$close-btn-offset-x: -502px;
$close-btn-offset-y: -400px;
$close-btn-width: 50px;
$close-btn-height: 50px;
$close-btn-total-width: 624px;
$close-btn-total-height: 544px;
$close-btn-image: '/static/sprite.png';
$close-btn: (502px, 400px, -502px, -400px, 50px, 50px, 624px, 544px, '/static/sprite.png', 'close_btn', );
$photo-arrow-next-small-2x-name: 'photo_arrow_next_small_2x';
$photo-arrow-next-small-2x-x: 96px;
$photo-arrow-next-small-2x-y: 400px;
$photo-arrow-next-small-2x-offset-x: -96px;
$photo-arrow-next-small-2x-offset-y: -400px;
$photo-arrow-next-small-2x-width: 96px;
$photo-arrow-next-small-2x-height: 96px;
$photo-arrow-next-small-2x-total-width: 624px;
$photo-arrow-next-small-2x-total-height: 544px;
$photo-arrow-next-small-2x-image: '/static/sprite.png';
$photo-arrow-next-small-2x: (96px, 400px, -96px, -400px, 96px, 96px, 624px, 544px, '/static/sprite.png', 'photo_arrow_next_small_2x', );
$photo-arrow-next-small-3x-name: 'photo_arrow_next_small_3x';
$photo-arrow-next-small-3x-x: 480px;
$photo-arrow-next-small-3x-y: 0px;
$photo-arrow-next-small-3x-offset-x: -480px;
$photo-arrow-next-small-3x-offset-y: 0px;
$photo-arrow-next-small-3x-width: 144px;
$photo-arrow-next-small-3x-height: 144px;
$photo-arrow-next-small-3x-total-width: 624px;
$photo-arrow-next-small-3x-total-height: 544px;
$photo-arrow-next-small-3x-image: '/static/sprite.png';
$photo-arrow-next-small-3x: (480px, 0px, -480px, 0px, 144px, 144px, 624px, 544px, '/static/sprite.png', 'photo_arrow_next_small_3x', );
$photo-arrow-next-small-name: 'photo_arrow_next_small';
$photo-arrow-next-small-x: 552px;
$photo-arrow-next-small-y: 400px;
$photo-arrow-next-small-offset-x: -552px;
$photo-arrow-next-small-offset-y: -400px;
$photo-arrow-next-small-width: 48px;
$photo-arrow-next-small-height: 48px;
$photo-arrow-next-small-total-width: 624px;
$photo-arrow-next-small-total-height: 544px;
$photo-arrow-next-small-image: '/static/sprite.png';
$photo-arrow-next-small: (552px, 400px, -552px, -400px, 48px, 48px, 624px, 544px, '/static/sprite.png', 'photo_arrow_next_small', );
$photo-arrow-next-2x-name: 'photo_arrow_next_2x';
$photo-arrow-next-2x-x: 0px;
$photo-arrow-next-2x-y: 240px;
$photo-arrow-next-2x-offset-x: 0px;
$photo-arrow-next-2x-offset-y: -240px;
$photo-arrow-next-2x-width: 160px;
$photo-arrow-next-2x-height: 160px;
$photo-arrow-next-2x-total-width: 624px;
$photo-arrow-next-2x-total-height: 544px;
$photo-arrow-next-2x-image: '/static/sprite.png';
$photo-arrow-next-2x: (0px, 240px, 0px, -240px, 160px, 160px, 624px, 544px, '/static/sprite.png', 'photo_arrow_next_2x', );
$photo-arrow-next-3x-name: 'photo_arrow_next_3x';
$photo-arrow-next-3x-x: 240px;
$photo-arrow-next-3x-y: 0px;
$photo-arrow-next-3x-offset-x: -240px;
$photo-arrow-next-3x-offset-y: 0px;
$photo-arrow-next-3x-width: 240px;
$photo-arrow-next-3x-height: 240px;
$photo-arrow-next-3x-total-width: 624px;
$photo-arrow-next-3x-total-height: 544px;
$photo-arrow-next-3x-image: '/static/sprite.png';
$photo-arrow-next-3x: (240px, 0px, -240px, 0px, 240px, 240px, 624px, 544px, '/static/sprite.png', 'photo_arrow_next_3x', );
$photo-arrow-next-name: 'photo_arrow_next';
$photo-arrow-next-x: 282px;
$photo-arrow-next-y: 400px;
$photo-arrow-next-offset-x: -282px;
$photo-arrow-next-offset-y: -400px;
$photo-arrow-next-width: 80px;
$photo-arrow-next-height: 80px;
$photo-arrow-next-total-width: 624px;
$photo-arrow-next-total-height: 544px;
$photo-arrow-next-image: '/static/sprite.png';
$photo-arrow-next: (282px, 400px, -282px, -400px, 80px, 80px, 624px, 544px, '/static/sprite.png', 'photo_arrow_next', );
$photo-arrow-prev-small-2x-name: 'photo_arrow_prev_small_2x';
$photo-arrow-prev-small-2x-x: 0px;
$photo-arrow-prev-small-2x-y: 400px;
$photo-arrow-prev-small-2x-offset-x: 0px;
$photo-arrow-prev-small-2x-offset-y: -400px;
$photo-arrow-prev-small-2x-width: 96px;
$photo-arrow-prev-small-2x-height: 96px;
$photo-arrow-prev-small-2x-total-width: 624px;
$photo-arrow-prev-small-2x-total-height: 544px;
$photo-arrow-prev-small-2x-image: '/static/sprite.png';
$photo-arrow-prev-small-2x: (0px, 400px, 0px, -400px, 96px, 96px, 624px, 544px, '/static/sprite.png', 'photo_arrow_prev_small_2x', );
$photo-arrow-prev-small-3x-name: 'photo_arrow_prev_small_3x';
$photo-arrow-prev-small-3x-x: 480px;
$photo-arrow-prev-small-3x-y: 144px;
$photo-arrow-prev-small-3x-offset-x: -480px;
$photo-arrow-prev-small-3x-offset-y: -144px;
$photo-arrow-prev-small-3x-width: 144px;
$photo-arrow-prev-small-3x-height: 144px;
$photo-arrow-prev-small-3x-total-width: 624px;
$photo-arrow-prev-small-3x-total-height: 544px;
$photo-arrow-prev-small-3x-image: '/static/sprite.png';
$photo-arrow-prev-small-3x: (480px, 144px, -480px, -144px, 144px, 144px, 624px, 544px, '/static/sprite.png', 'photo_arrow_prev_small_3x', );
$photo-arrow-prev-small-name: 'photo_arrow_prev_small';
$photo-arrow-prev-small-x: 0px;
$photo-arrow-prev-small-y: 496px;
$photo-arrow-prev-small-offset-x: 0px;
$photo-arrow-prev-small-offset-y: -496px;
$photo-arrow-prev-small-width: 48px;
$photo-arrow-prev-small-height: 48px;
$photo-arrow-prev-small-total-width: 624px;
$photo-arrow-prev-small-total-height: 544px;
$photo-arrow-prev-small-image: '/static/sprite.png';
$photo-arrow-prev-small: (0px, 496px, 0px, -496px, 48px, 48px, 624px, 544px, '/static/sprite.png', 'photo_arrow_prev_small', );
$photo-arrow-prev-2x-name: 'photo_arrow_prev_2x';
$photo-arrow-prev-2x-x: 160px;
$photo-arrow-prev-2x-y: 240px;
$photo-arrow-prev-2x-offset-x: -160px;
$photo-arrow-prev-2x-offset-y: -240px;
$photo-arrow-prev-2x-width: 160px;
$photo-arrow-prev-2x-height: 160px;
$photo-arrow-prev-2x-total-width: 624px;
$photo-arrow-prev-2x-total-height: 544px;
$photo-arrow-prev-2x-image: '/static/sprite.png';
$photo-arrow-prev-2x: (160px, 240px, -160px, -240px, 160px, 160px, 624px, 544px, '/static/sprite.png', 'photo_arrow_prev_2x', );
$photo-arrow-prev-3x-name: 'photo_arrow_prev_3x';
$photo-arrow-prev-3x-x: 0px;
$photo-arrow-prev-3x-y: 0px;
$photo-arrow-prev-3x-offset-x: 0px;
$photo-arrow-prev-3x-offset-y: 0px;
$photo-arrow-prev-3x-width: 240px;
$photo-arrow-prev-3x-height: 240px;
$photo-arrow-prev-3x-total-width: 624px;
$photo-arrow-prev-3x-total-height: 544px;
$photo-arrow-prev-3x-image: '/static/sprite.png';
$photo-arrow-prev-3x: (0px, 0px, 0px, 0px, 240px, 240px, 624px, 544px, '/static/sprite.png', 'photo_arrow_prev_3x', );
$photo-arrow-prev-name: 'photo_arrow_prev';
$photo-arrow-prev-x: 362px;
$photo-arrow-prev-y: 400px;
$photo-arrow-prev-offset-x: -362px;
$photo-arrow-prev-offset-y: -400px;
$photo-arrow-prev-width: 80px;
$photo-arrow-prev-height: 80px;
$photo-arrow-prev-total-width: 624px;
$photo-arrow-prev-total-height: 544px;
$photo-arrow-prev-image: '/static/sprite.png';
$photo-arrow-prev: (362px, 400px, -362px, -400px, 80px, 80px, 624px, 544px, '/static/sprite.png', 'photo_arrow_prev', );
$spritesheet-width: 624px;
$spritesheet-height: 544px;
$spritesheet-image: '/static/sprite.png';
$spritesheet-sprites: ($close-btn-small-2x, $close-btn-small-3x, $close-btn-small, $close-btn-2x, $close-btn-3x, $close-btn, $photo-arrow-next-small-2x, $photo-arrow-next-small-3x, $photo-arrow-next-small, $photo-arrow-next-2x, $photo-arrow-next-3x, $photo-arrow-next, $photo-arrow-prev-small-2x, $photo-arrow-prev-small-3x, $photo-arrow-prev-small, $photo-arrow-prev-2x, $photo-arrow-prev-3x, $photo-arrow-prev, );
$spritesheet: (624px, 544px, '/static/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
