.modal__header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  padding-left: 20px;
  padding-right: 20px;

  .header__title {
    font-size: 17px;
    font-weight: 500;
  }

  .header__close {
    position: absolute;
    right: 10px;
  }
}

.RecentlyWrapper {
  font-family: Roboto;
  background-color: #fff;
  height: 100%;
}

.MenuSelection {
  width: 100%;
  padding: 13px 20px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  color: #111111;
  height: 41px;
}

.MenuCounts {
  line-height: 1.48;
}

.MenuDeleteButton {
  width: 80px;
  height: 30px;
  border: solid 1px #dddddd;
  line-height: 1.2;
}

.ContentSection {
  margin: 0 5px;
  width: 100%;
  height: calc(100vh - 101px);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow-y: scroll;
}

.ContentItem {
  margin: 5px 5px;
}

.ContentEmpty {
  width: 100%;
  height: calc(100vh - 168px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
}

.ContentEmptyCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  > div:last-child {
    margin-top: 15px;
  }
}

.ContentEmptyItem {
  width: 100%;
  display: flex;
  justify-content: center;
}
